*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family: sans-serif;
    color: #444;
    border-top: #1098ad solid 10px;
    position: relative;
}

.container{
    width: 1200px;
    margin: 0 auto;
}

article{
    /* padding: 20px; */
    margin-bottom: 60px;
}

.post-img{
    width: 100%;
    height: auto;
}


h1, h2, h3{
    color: #1098ad;
}

ul, ol{
    margin-left: 50px;
    margin-bottom: 30px;
}

h1{
    font-size: 24px;
    text-transform: uppercase;
    font-style: italic;
    /* float: left; */
}



h1::first-letter{
    font-style: normal;
    margin-right: 5px;
}

h2{
    font-size: 30px;
    margin-bottom: 30px;
    position: relative;
}

h2::after{
    content: "TOP";
    position: absolute;
    background-color: #ffe70e;
    color: #444;
    font-size: 16px;
    top: 0;
    right: 0;
    padding: 5px 10px;
    display: inline-block;
}

h3{
    font-size: 30px;
    margin-bottom: 30px;
}

h4{
    font-size: 20px;
    text-transform: uppercase;
}

p{
    font-size: 22px;
    line-height: 1.5;
    margin-bottom: 15px;
}

/* p::first-line{
    color: red;
} */

li{
    font-size: 20px;
    line-height: 1.5;
}

/* decending elements */
footer p{
    font-size: 16px;
}


.relatedPosts{
    list-style: none;
}

.main-header{
    background-color: #f7f7f7;
    padding: 20px;
    margin-bottom: 60px;
}

.post-header{
    margin-bottom: 40px;
}

aside{
    background-color: #f7f7f7;
    border-top: #1098ad 5px solid;
    border-bottom: #1098ad 5px solid;
    padding: 50px 0;
}

aside h4{
    text-align: center;
}

li:first-child{
    font-weight: bold;
}

li:last-child{
    font-style: italic;
}

/* li:nth-child(2){
    font-size: 50px;
} */

a:link{
    color: #1098ad;
    text-decoration: none;
    /* float: right; */
    /* padding: 10px; */
}

a:visited{
    color: #1098ad;
}

a:hover{
    color: orangered;
    font-weight: bold;
    text-decoration: underline orangered;
}

a:active{
    background-color: black;
    font-style: italic;
}

button{
    font-size: 22px;
    padding: 20px;
    cursor: pointer;
    position: absolute;
    right: 50px;
    bottom: 50px;
}

/* Float */

/* .auther-img{
    float: left;
    margin-bottom: 20px;
}

.auther{
    float: left;
    margin-left: 10px;
    padding-top: 10px;
}

.clearfix::after{
    content: "";
    clear: both;
    display: block;
}

article{
    width: 825px;
    float: left;
}

aside{
    width: 300px;
    float: right;
}

footer{
    margin-top: 30px;
    clear: both;
} */

/* Flex box */
/* 
.main-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.auther-details{
    display: flex;
    align-items: center;
    gap: 10px;
}

.auther{
    margin-bottom: 0;
}

.related-post{
    display: flex;
    gap: 20px;
    align-items: center;
    margin-bottom: 30px;
}

.related-box p {
    margin-bottom: 0;
    color: #000;
    font-style: italic;
    font-weight: normal;
    font-size: 14px;
}

main{
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.post-header{
    width: 900px;
}
.post-aside{
    align-self: self-start;
} */

.container{
    display: grid;
    grid-template-columns: 1fr 300px;
    column-gap: 75px;
}

.main-header{
    grid-column: 1 / -1;
}

aside{
    grid-column: 2 / 3;
}

footer{
    grid-column: 1 / -1;
}